$black: #000000;
$white: #FFFFFF;
$yellow: #F2CD00;
$brightyellow: #FFD800;
$red: #E1251B;
$purple: #9164CC;
$orange: #FF5100;
$blue: #6FCFEB;

$Nunito: 'Nunito', sans-serif;

$black-weight: 900;
$semibold-weight: 600;
$regular-weight: 400;